<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @document.task %>
</p>

<p>
  <%= image_tag(@document.picture, width: 200) if @document.picture.attached? %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
